<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

<header>
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-8 offset-md-2">
                <h1 class="h3 text-uppercase text-center mb-3 text-warning">-=[ Gatty torrents ]=-</h1>
                <h2 class="h6 text-uppercase my-3 text-center text-success">Desarrollado con <i
                        class="bi bi-heart-fill text-danger"></i> por Isidro Gonzalez</h2>
                <form action="/" method="get" class="d-flex">
                    <input class="form-control me-2 p-3 text-center text-uppercase" type="text" name="search"
                           placeholder="Escribe el titulo de una pelicula y presiona enter...">
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col">
            <img src="{{ movie_data['Poster'] }}" alt="">
            <p id="main-title">{{ movie_data['Title'] }}</p>
            <form method="post">
                <input type="hidden" name="scrape-title" value="{{ movie_data['Title'] }} cinecalidad">
                <button type="submit">Buscar enlaces</button>
            </form>
            <h1>Enlaces generados</h1>
           {% for stream_link, movie_info in stream_movie_info %}
               <a href="{{ stream_link }}" class="d-block">{{ movie_info['title'] }}</a>
           {% endfor %}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

<script>

</script>

</body>
</html>